body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f2ef;
    color: #333;
}

header {
    background-color: #283e4a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    margin: 5px 0;
    color: #b0b0b0;
}

main {
    padding: 20px;
    max-width: 100%; /* Ensure it uses the full width */
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0 auto; /* Center the main content */
}

section {
    margin: 0; /* Remove default margin */
    padding: 20px;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    margin-bottom: 10px;
    background-color: #e0f7fa; /* Light tint background */
    padding: 10px;
    border-radius: 4px;
}

ul li {
    margin-bottom: 10px;
    background-color: #e0f7fa; /* Light tint background */
    padding: 10px;
    border-radius: 4px;
}

footer {
    background: #283e4a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
