/* Reset default margins and paddings */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set box-sizing to border-box for better control over width and padding */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #d3d3d3; /* Light Grey Background */
    color: #333;
    line-height: 1.6;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background: #162c38; /* Dark Blue */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid #005582; /* Darker Blue Accent */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    color: #005582; /* Darker Blue Accent */
}

main {
    width: 100%;
    max-width: 1200px; /* Optional: Set a maximum width */
    margin: 0 auto; /* Center the content */
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
}

section.blue-tint {
    background: #e6f2f7; /* Light Blue Tint */
}

section h2 {
    color: #333;
    border-bottom: 2px solid #005582; /* Darker Blue Accent */
    padding-bottom: 10px;
    font-size: 2em;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    background: #e6f2f7; /* Light Blue Tint */
    border-left: 5px solid #005582; /* Darker Blue Accent */
}

a {
    color: #005582; /* Darker Blue Accent */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 5px 10px;
    background: #005582; /* Darker Blue Accent */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #003f5c; /* Even Darker Blue */
}

footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
